In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv('superstore.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Profit Ratio       9994 non-null   object
 1   Category           9994 non-null   object
 2   City               9994 non-null   object
 3   Country            9994 non-null   object
 4   Customer Name      9994 non-null   object
 5   Discount           9994 non-null   object
 6   Number of Records  9994 non-null   int64
 7   Order Date         9994 non-null   object
 8   Order ID           9994 non-null   object
 9   Postal Code        9983 non-null   float64
 10  Manufacturer       9994 non-null   object
 11  Product Name       9994 non-null   object
 12  Profit             9994 non-null   object
 13  Quantity           9994 non-null   int64
 14  Region             9994 non-null   object
 15  Sales              9994 non-null   object
 16  Segment            9994 non-null   object
 17  Ship Date          9994 non-null   object
 18  Ship Mode          9994 non-null   object
 19  State              9994 non-null   object
 20  Sub-Category       9994 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.6+ MB

In [12]:
data['Time'] = pd.to_datetime(data['Order Date']).dt.to_period('m')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Profit Ratio       9994 non-null   object
 1   Category           9994 non-null   object
 2   City               9994 non-null   object
 3   Country            9994 non-null   object
 4   Customer Name      9994 non-null   object
 5   Discount           9994 non-null   object
 6   Number of Records  9994 non-null   int64
 7   Order Date         9994 non-null   object
 8   Order ID           9994 non-null   object
 9   Postal Code        9983 non-null   float64
 10  Manufacturer       9994 non-null   object
 11  Product Name       9994 non-null   object
 12  Profit             9994 non-null   object
 13  Quantity           9994 non-null   int64
 14  Region             9994 non-null   object
 15  Sales              9994 non-null   object
 16  Segment            9994 non-null   object
 17  Ship Date          9994 non-null   object
 18  Ship Mode          9994 non-null   object
 19  State              9994 non-null   object
 20  Sub-Category       9994 non-null   object
 21  Time               9994 non-null   period[M]
dtypes: float64(1), int64(2), object(18), period[M](1)
memory usage: 1.7+ MB

In [15]:
total_sales = data[['Time', 'Sales']].groupby('Time', as_index=False).agg('sum')
total_sales.head()

      Time                                              Sales
0  2015-01  $9$31$10$12$273$4$11$51$647$6$573$3$52$127$124...
1  2015-02  $130$469$115$1$8$84$13$83$34$12$15$162$145$9$6...
2  2015-03  $458$7$6$19$143$46$7$43$132$10$126$25$22$94$47...
3  2015-04  $18$510$31$72$39$55$45$17$17$30$17$10$155$117$...
4  2015-05  $56$58$101$66$3$21$55$567$359$311$68$168$2,716...